{% extends "base.html" %}

{% block contenido %}

<div class="container col-12 offset-col-2 mb-5 mt-2">

<div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h4 class="card-title">Establecimientos que has registrado</h4>
<a href="{% url 'perfil'%}"><button type="submit" class="btn btn-success">Crear nuevo perfil</button></a>


    </div>
</div>
<!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Productos express
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div> -->

{% if perfiles %}
<table class="table table-dark table-hover table-sm table-responsive-sm table-bordered">
    <thead>
        <tr>        
            <th>Nombre</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
    
        {% for perfil in perfiles %}
        <tr>
            
            <td>
                <p>{{perfil.categoria.nombre}} "{{perfil.nomEstable}}"</p>
                
                </td>
          
            
            <td class="text-center">
                <a name="" id="" class="btn btn-info" href="{% url 'muestraperfil' perfil.id perfil.nomEstable%}" role="button">Ver</a>  
                <a name="" id="" class="btn btn-warning" href="{% url 'editar' perfil.id%}" role="button">Editar</a> 
                <a name="" id="" class="btn btn-danger" href="{% url 'borrar' perfil.id  %}" role="button">Borrar</a>
            </td>
           
        </tr>

        {% endfor %}
    </tbody>
</table>



{% else %}
<div class="alert alert-warning" role="warning">
    AÚN NO TIENES NINGÚN ESTABLECIMIENTO REGISTRADO
    </div>
{% endif %}
</div>  

{% endblock %}

