{% extends "base2.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/mapa.css' %}">{% endblock styles %}
{% block contenido %}


<div class="container offset-col-2 mt-5 xs-12 col-md-8 containerformperfil1 " id="create-page">
        
  <form method="POST" action="" enctype="multipart/form-data" class="needs-validation" novalidate>
     {% csrf_token %}
    <div class="card mt-3">
       <div class="card-header ">
                        CREAR - PERFIL 

        </div>
        
        <div class="card-body containerformperfil">



          <div class="form-group">
            <label for="categoria">Categoría:</label>
            <select class="form-control form-select" id="categoria" name="categ" required>
              <option value="" selected>Elige tipo de negocio</option>
              {% for categoria in cate %}
              <option value="{{ categoria.pk }}">{{ categoria.nombre }}</option>
              {% endfor %}
            </select>
            <small id="categoria-help" class="form-text text-muted">¿No encontró su categoría? Escríbala aquí:</small>
            <input type="text" class="form-control" id="nueva_categoria" name="nueva_categoria" placeholder="Nombre de la nueva categoría">
          </div>

  
              <div class="mb-3">
                  <label class="form-label">Nombre:</label>
                   <input type="text" class="form-control" name="nombre" required>

                    <div class="invalid-feedback">
                      Coloca el nombre
                    </div>
              </div>

              <div class="mb-3">
                 <label class="form-label">Descripcion</label>
                
                  <textarea class="form-control texareaform" name="descripcion" id="" cols="30" rows="5" placeholder="Coloca un breve resumen de lo que ofreces"  maxlength="250" required></textarea>
                  <div class="invalid-feedback">
                    Coloca el resumen de no mayor a 250 letras
              </div>

              <div class="mb-3">
                  <label class="form-label">Página web</label>
                  <input type="text" class="form-control" name="web">
              </div>
 

              <div class="mb-3">
                  <label class="form-label">Télefono</label>
                  <input type="text" class="form-control" name="telefono" pattern="[0-9]{10}"  placeholder="Coloca el número sin guión ni espacios" maxlength="10S">
                    <div class="invalid-feedback">
                    Debes colocar 10 números sin espacios o guiones
                    </div>
               </div>

             <div class="mb-3 latitudxdxd">
                <label class="form-label ">Latitud</label>
                <input id="latitud" type="text" class="form-control" name="lat" required >
                <div class="invalid-feedback">
                  Marca el mapa
                  </div>
              </div>
  
              <div class="mb-3 longitudxdxd">
                  <label class="form-label ">Longitud</label>
                   <input id="longitud" type="text" class="form-control" name="lng" required>
              </div>
                            
              <div class="mb-3 longitudxdxd ">
                <label class="form-label ">Usuario</label>
                <input type="text" class="form-control" name="userxd" required value="{{user.id}}"></div>

                 <div class="mb-3">
                    <label class="form-label">Whatsapp</label>
                    <input type="text" class="form-control" pattern="[0-9]{10}" name="whats"  placeholder="Coloca el número sin guión ni espacios" maxlength="10">
                    <div class="invalid-feedback">
                      Debes puedes colocar 10 números sin espacios o guiones
                    </div>
                 </div>

                 <div class="mb-3">
                  <label class="form-label">Correo</label>
                  <input type="text" class="form-control" name="correo">
              </div>

              <div class="mb-3">
                <label class="form-label">Pág. Facebook</label>
                <input type="text" class="form-control" name="facebook">
            </div>

            <div class="mb-3">
              <label class="form-label">Twitter</label>
              <input type="text" class="form-control" name="twitter">
          </div>

          <div class="mb-3">
            <label class="form-label">Instagram</label>
            <input type="text" class="form-control" name="instagram">
        </div>

 
                 <div class="mb-3 ">
        
                   <label for="file" class="form-label" >Subir foto de perfil</label>
                   <input accept="image/*" class="form-control" onchange="previewImage(event)" type="file" name="img" id="img" >
                   <div class="invalid-feedback">
                             Sube tu foto
                   </div>

                   <img id="preview-img" style="margin-top: 5px;" width="200">

                </div>


                <hr>
                <div class="mb-3">
                  HORARIO
                </div>


                <div class="form-check">
                  <input type="hidden" value='0' name="alldayxd">
                  <input class="form-check-input" type="checkbox" value='1' name="alldayxd" id="check">
                  <label class="form-check-label" for="check">
                    Abierto 24/7 Todos los dias
                  </label>
                </div>

                <div class="accordion accordion-flush acordionxd " id="accordionxd">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        LUNES
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                    

                        <div class="mb-3">
        
                       <span  class="col-lg-2 col-sm-12 col-12" >Abierto de:</span>
                        <input class="col-lg-3 col-sm-12 col-12 me-5" type="time" name="hora1" id="hora1"  > 
                      
                        <span class="col-lg-2 col-sm-12 col-12" >Cerrado a las:</span>
                          
                        <input class="col-lg-3 col-sm-12 col-12" type="time" name="hora2" id="hora2" >

                        <span><label for="cerrado"><input type="checkbox" id="cerrado">Cerrado</label></span>
                        </div>







                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        MARTES
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        

                        <div class="mb-3">
        
                          <span  class="col-lg-2 col-sm-12 col-12" >Abierto de:</span>
                           <input class="col-lg-3 col-sm-12 col-12 me-5" type="time" name="hora3" id="hora3"  > 
                         
                           <span class="col-lg-2 col-sm-12 col-12" >Cerrado a las:</span>
                             
                           <input class="col-lg-3 col-sm-12 col-12" type="time" name="hora4" id="hora4" >
                           <span><label for="cerrado2"><input type="checkbox" id="cerrado2">Cerrado</label></span>
                           </div>

                      </div>
                    </div>
                  </div>



                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        MIERCOLES
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <div class="mb-3">
        
                          <span  class="col-lg-2 col-sm-12 col-12" >Abierto de:</span>
                           <input class="col-lg-3 col-sm-12 col-12 me-5" type="time" name="hora5" id="hora5" > 
                         
                           <span class="col-lg-2 col-sm-12 col-12" >Cerrado a las:</span>
                             
                           <input class="col-lg-3 col-sm-12 col-12" type="time" name="hora6" id="hora6" >
                           <span><label for="cerrado3"><input type="checkbox" id="cerrado3">Cerrado</label></span>
                           </div>
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        JUEVES
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <div class="mb-3">
        
                          <span  class="col-lg-2 col-sm-12 col-12" >Abierto de:</span>
                           <input class="col-lg-3 col-sm-12 col-12 me-5" type="time" name="hora7" id="hora7" > 
                         
                           <span class="col-lg-2 col-sm-12 col-12" >Cerrado a las:</span>
                             
                           <input class="col-lg-3 col-sm-12 col-12" type="time" name="hora8" id="hora8" >
                           <span><label for="cerrado4"><input type="checkbox" id="cerrado4">Cerrado</label></span>
                           </div>

                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        VIERNES
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <div class="mb-3">
        
                          <span  class="col-lg-2 col-sm-12 col-12" >Abierto de:</span>
                           <input class="col-lg-3 col-sm-12 col-12 me-5" type="time" name="hora9" id="hora9" > 
                         
                           <span class="col-lg-2 col-sm-12 col-12" >Cerrado a las:</span>
                             
                           <input class="col-lg-3 col-sm-12 col-12" type="time" name="hora10"  id="hora10">
                           <span><label for="cerrado5"><input type="checkbox" id="cerrado5">Cerrado</label></span>
                           </div>
      
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        SABADO
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        

                        <div class="mb-3">
        
                          <span  class="col-lg-2 col-sm-12 col-12" >Abierto de:</span>
                           <input class="col-lg-3 col-sm-12 col-12 me-5" type="time" name="hora11" id="hora11" > 
                         
                           <span class="col-lg-2 col-sm-12 col-12" >Cerrado a las:</span>
                             
                           <input class="col-lg-3 col-sm-12 col-12" type="time" name="hora12" id="hora12"  >
                           <span><label for="cerrado6"><input type="checkbox" id="cerrado6">Cerrado</label></span>
                           </div>

                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        DOMINGO
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                      <div class="accordion-body">

                        <div class="mb-3">
        
                          <span  class="col-lg-2 col-sm-12 col-12" >Abierto de:</span>
                           <input class="col-lg-3 col-sm-12 col-12 me-5" type="time" name="hora13" id="hora13" > 
                         
                           <span class="col-lg-2 col-sm-12 col-12" >Cerrado a las:</span>
                             
                           <input class="col-lg-3 col-sm-12 col-12" type="time" name="hora14" id="hora14" >
                           <span><label for="cerrado7"><input type="checkbox" id="cerrado7">Cerrado</label></span>
                           </div>
                      </div>
                    </div>
                  </div>

                </div>




                <div class="mb-3">
                  <label class="form-label">Colonia:</label>
                   <input type="text" class="form-control" name="colonia" placeholder="(Opcional) Si agregas tu colonia ayudará a que encuentren más fácil tu negocio.">

                    <div class="invalid-feedback">
                      Coloca la colonia
                    </div>
              </div>

                  

                   

                 



        </div>
                    
         <div class="card-footer">
          <p class="p__mapa"><b> NO OLVIDES MARCAR TU UBICACION</b></p>         
            <button type="submit" class="btn btn-success ml-2">GUARDAR</button>
            <a class="btn btn-danger" href="{% url 'inicio' %}">CANCELAR</a>                       
             <input type="reset" class="btn btn-warning" value="LIMPIAR" >
                    
          </div>
    </div>
  </form>
</div>

    <div class="container  offset-col-2 mb-5">
      <p><b> Por favor, arrastra el marcador azul en donde está ubicado tu negocio ya que si no lo haces no se guardará tu registro </b></p> 
      
      <div class="map" id="map"></div>

   
   </div>


<script>

const forms = document.querySelectorAll('.needs-validation')
const check= document.getElementById('check')
const hora1 = document.getElementById('hora1')
const hora2 = document.getElementById('hora2')
const hora3 = document.getElementById('hora3')
const hora4 = document.getElementById('hora4')
const hora5 = document.getElementById('hora5')
const hora6 = document.getElementById('hora6')
const hora7 = document.getElementById('hora7')
const hora8 = document.getElementById('hora8')
const hora9 = document.getElementById('hora9')
const hora10 = document.getElementById('hora10')
const hora11 = document.getElementById('hora11')
const hora12 = document.getElementById('hora12')
const hora13 = document.getElementById('hora13')
const hora14 = document.getElementById('hora14')
const accordionxd = document.getElementById('accordionxd') 

const checkboxes = document.querySelectorAll('input[type=checkbox]');
const horas = document.querySelectorAll('input[type=time]');

const categoriaSelect = document.getElementById('categoria');
const nuevaCategoriaInput = document.getElementById('nueva_categoria');

const checkbox = document.getElementById('cerrado');
const checkbox2 = document.getElementById('cerrado2');
const checkbox3 = document.getElementById('cerrado3');
const checkbox4 = document.getElementById('cerrado4');
const checkbox5 = document.getElementById('cerrado5');
const checkbox6 = document.getElementById('cerrado6');
const checkbox7 = document.getElementById('cerrado7');

function previewImage(event) {
    const input = event.target;
    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('preview-img').src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);
    }
  }


check.addEventListener('change',function(event){
  if (event.target.checked){
    accordionxd.style.display = 'none';

  hora1.value = '';
  hora2.value = '';
  hora3.value = '';
  hora4.value = '';
  hora5.value = '';
  hora6.value = '';
  hora7.value = '';
  hora8.value = '';
  hora9.value = '';
  hora10.value = '';
  hora11.value = '';
  hora12.value = '';
  hora13.value = '';
  hora14.value = '';

  console.log(hora1.value)
  }else{
    accordionxd.style.display = 'block';
  }

})



checkbox.addEventListener('click', function() {
  if (checkbox.checked) {
    hora1.setAttribute('readonly', true);
    hora2.setAttribute('readonly', true);
    hora1.value = '';
    hora2.value = '';
  } else {
    hora1.removeAttribute('readonly');
    hora2.removeAttribute('readonly');
  }
});

checkbox2.addEventListener('click', function() {
  if (checkbox2.checked) {
    hora3.setAttribute('readonly', true);
    hora4.setAttribute('readonly', true);
    hora3.value = '';
    hora4.value = '';
  } else {
    hora3.removeAttribute('readonly');
    hora4.removeAttribute('readonly');
  }
});

checkbox3.addEventListener('click', function() {
  if (checkbox3.checked) {
    hora5.setAttribute('readonly', true);
    hora6.setAttribute('readonly', true);
    hora5.value = '';
    hora6.value = '';
  } else {
    hora5.removeAttribute('readonly');
    hora6.removeAttribute('readonly');
  }
});

checkbox4.addEventListener('click', function() {
  if (checkbox4.checked) {
    hora7.setAttribute('readonly', true);
    hora8.setAttribute('readonly', true);
    hora7.value = '';
    hora8.value = '';
  } else {
    hora7.removeAttribute('readonly');
    hora8.removeAttribute('readonly');
  }
});

checkbox5.addEventListener('click', function() {
  if (checkbox5.checked) {
    hora9.setAttribute('readonly', true);
    hora10.setAttribute('readonly', true);
    hora9.value = '';
    hora10.value = '';
  } else {
    hora9.removeAttribute('readonly');
    hora10.removeAttribute('readonly');
  }
});

checkbox6.addEventListener('click', function() {
  if (checkbox6.checked) {
    hora11.setAttribute('readonly', true);
    hora12.setAttribute('readonly', true);
    hora11.value = '';
    hora12.value = '';
  } else {
    hora11.removeAttribute('readonly');
    hora12.removeAttribute('readonly');
  }
});

checkbox7.addEventListener('click', function() {
  if (checkbox7.checked) {
    hora13.setAttribute('readonly', true);
    hora14.setAttribute('readonly', true);
    hora13.value = '';
    hora14.value = '';
  } else {
    hora13.removeAttribute('readonly');
    hora14.removeAttribute('readonly');
  }
});



nuevaCategoriaInput.addEventListener('input', () => {
  if (nuevaCategoriaInput.value) {
    categoriaSelect.value = '';
    categoriaSelect.disabled = true;
  } else {
    categoriaSelect.disabled = false;
  }
});


(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()


check.addEventListener('change',function(event){
  if (event.target.checked){
    accordionxd.style.display = 'none';

  hora1.value = '';
  hora2.value = '';
  hora3.value = '';
  hora4.value = '';
  hora5.value = '';
  hora6.value = '';
  hora7.value = '';
  hora8.value = '';
  hora9.value = '';
  hora10.value = '';
  hora11.value = '';
  hora12.value = '';
  hora13.value = '';
  hora14.value = '';

  console.log(hora1.value)
  }else{
    accordionxd.style.display = 'block';
  }

})


  // Agregar evento de escucha al campo de entrada




</script>





{% endblock %}