{% extends "base.html" %}

{% load static %}



{% block titulo %} Admin {% endblock %}
{% block contenido %}

<div class="container col-12 offset-col-2 mb-5 mt-2">

    <div class="card">
        <div class="card-header">
    
        </div>
        <div class="card-body">
            <h4 class="card-title">Perfiles creados</h4>
   
    
    
        </div>
    </div>
    
    <table class="table table-dark table-hover table-sm table-responsive-sm table-bordered">
        <thead>
            <tr>        
                <th>Nombre</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for perf in perfil %}
            
            <tr>

              
                
                <td>
                    <p>{{perf.id}}-{{perf.nomEstable}}</p>
                    
                    </td>
              
                
                <td class="text-center">
                  
                    <a    class="btn btn-info" href="{% url 'muestraperfil' perf.id perf.nomEstable%}" role="button">Ver</a>  
                    <a   class="btn btn-warning" href="{% url 'editar' perf.id%}" role="button">Editar</a> 
                    <a   class="btn btn-danger" href="{% url 'borrandoadmin' perf.id  %}" role="button">Borrar</a>
                </td>
               
            </tr>
    
            {% endfor %}
        </tbody>
    </table>
    
    

    <div class="card">
        <div class="card-header">
    
        </div>
        <div class="card-body">
            <h4 class="card-title">Comentarios</h4>
   
    
    
        </div>
    </div>
    
    <table class="table table-dark table-hover table-sm table-responsive-sm table-bordered">
        <thead>
            <tr>        
                <th>Nombre</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for com in comentario %}
            
            <tr>

              
                
                <td>
                    <p>{{com.id}}-{{com.body}}</p>
                    
                    </td>
              
                
                <td class="text-center">
                    <a   href="{% url 'comentarios' com.negocio.id com.negocio.nomEstable %}"   class="btn btn-info"    role="button">Ver</a>  
                    <a   href="{% url 'borrando_com' com.id%}"   class="btn btn-danger"    role="button">Borrar</a>
                </td>
               
            </tr>
    
            {% endfor %}
        </tbody>
    </table>

    <div class="card">
        <div class="card-header">
    
        </div>
        <div class="card-body">
            <h4 class="card-title">Reseñas</h4>
   
    
    
        </div>
    </div>
    
    <table class="table table-dark table-hover table-sm table-responsive-sm table-bordered">
        <thead>
            <tr>        
                <th>Cuerpo</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for res in resenia %}
            
            <tr>

              
                
                <td>
                    <p>{{res.id}}-
                        
                        {% if res.body %}
                        {{res.body}}
                        {% else %}
                        Ha dado {{res.estrellas}} estrellas
                        {% endif %}
                       </p>
                    
                    </td>
              
                
                <td class="text-center">
                    <a   href="{% url 'muestraperfil' res.negocio.id res.negocio.nomEstable%}"   class="btn btn-info"    role="button">Ver</a>   
                    <a   href="{% url 'borrando_res' res.id  %}"   class="btn btn-danger"    role="button">Borrar</a>
                </td>
               
            </tr>
    
            {% endfor %}
        </tbody>
    </table>

    <div class="card">
        <div class="card-header">
    
        </div>
        <div class="card-body">
            <h4 class="card-title">Publicaciones</h4>
   
    
    
        </div>
    </div>
    
    <table class="table table-dark table-hover table-sm table-responsive-sm table-bordered">
        <thead>
            <tr>        
                <th>Cuerpo</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pos in post %}
            
            <tr>

              
                
                <td>
                    <p>{{pos.id}}-
                        {% if pos.body %}
                        {{pos.body}}
                        {% else %}
                        Es foto
                        {% endif %}
                        
                    </p>
                    
                    </td>
              
                
                <td class="text-center">
                    <a   href="{% url 'posts' pos.perfil.id pos.perfil.nomEstable%}"   class="btn btn-info"    role="button">Ver</a>   
                    <a   href="{% url 'borrando_post' pos.id  %}"   class="btn btn-danger"    role="button">Borrar</a>
                </td>
               
            </tr>
    
            {% endfor %}
        </tbody>
    </table>

    <div class="card">
        <div class="card-header">
    
        </div>
        <div class="card-body">
            <h4 class="card-title">Productos</h4>
   
    
    
        </div>
    </div>
    
    <table class="table table-dark table-hover table-sm table-responsive-sm table-bordered">
        <thead>
            <tr>        
                <th>Nombre</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for prd in producto %}
            
            <tr>

              
                
                <td>
                    <p>{{prd.id}}-{{prd.nombre}}</p>
                    
                    </td>
              
                
                <td class="text-center">
                    <a   href="{% url 'borrando_prdrap' prd.id %}"   class="btn btn-danger"    role="button">Borrar</a>
                </td>
               
            </tr>
    
            {% endfor %}
        </tbody>
    </table>

    <div class="card">
        <div class="card-header">
    
        </div>
        <div class="card-body">
            <h4 class="card-title">Articulo</h4>
   
    
    
        </div>
    </div>
    
    <table class="table table-dark table-hover table-sm table-responsive-sm table-bordered">
        <thead>
            <tr>        
                <th>Nombre</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for art in articulo %}
            
            <tr>

              
                
                <td>
                    <p>{{art.id}}-{{art.nombre}}</p>
                    
                    </td>
              
                
                <td class="text-center">
                    <a   href="{% url 'ver_articulos' art.perfil.id%}"   class="btn btn-info"    role="button">Ver</a>  
                    <a   href="{%url 'borrando_prd' art.id %}"   class="btn btn-danger"    role="button">Borrar</a>
                </td>
               
            </tr>
    
            {% endfor %}
        </tbody>
    </table>

    <div class="card">
        <div class="card-header">
    
        </div>
        <div class="card-body">
            <h4 class="card-title">Categorias</h4>
   
    
    
        </div>
    </div>
    
    <table class="table table-dark table-hover table-sm table-responsive-sm table-bordered">
        <thead>
            <tr>        
                <th>Nombre</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ctg in categoria %}
            
            <tr>

              
                
                <td>
                    <p>{{ctg.id}}-{{ctg.nombre}}</p>
                    
                    </td>
              
                
                <td class="text-center">
        
                    <a   href="{% url 'borrando_ctg' ctg.id %}"   class="btn btn-danger"    role="button">Borrar</a>
                </td>
               
            </tr>
    
            {% endfor %}
        </tbody>
    </table>
    

    </div> 





{% endblock %}